html, body {
  height:100%;
  line-height: 1.5rem;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.container {
  padding: 20px;
  box-sizing:border-box;
}

.container-profile {
  min-height: 450px;
  position: relative;
  display: inline-block;
  width: 100%;
  color: #FFF;
  background: #34495e;
}

.container-main {
  color: #424242;
  display: inline-block;
}

@media (min-width: 768px) {

  .container-profile{
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    width: 38.1966011%;
    height: 100vh;
  }

  .container-main {
    position: fixed;
    top: 0;
    padding: 20px 20px 20px 50px;
    right: 0;
    float: right;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 61.8033989%;
    height: 100%;
  }
}

#profile-image{
  margin: auto;
  width: 200px;
  /*width: 38.1966011%;*/
  /*min-width: 200px;*/
  /*max-width: 220px*/
  display: block;
  border-radius: 50%;
  padding: 7px;
  /*border: 3px dashed rgba(255,255,255,0.3);*/
}

.container-profile h1, h2{
  text-align: center;
}

.container-profile p{
  text-align: center;
  font-size: 20px;
}

#profile-info {
  padding: 10px 0 30px 0;
}

#profile-info a{
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-top: 10px;
  padding: 7px 17px;
  border-radius: 3px;
  text-align: center;
  color: #34495e;
  background-color: #FFF;
}

#name{
  font-family: 'Gloria Hallelujah', cursive;
}

#position{
  font-weight: 300;
}

span.highlight{
  color: #d6564a;
}

span.dash{
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  width: 30px;
  background-color: #d6564a;
  margin-bottom: 2px;
  margin-right: 10px;
}

.container-main .section h3{
  text-transform: uppercase;  
  color: #d6564a;
  font-weight: 400;
  margin-bottom: 20px;
}

.container-main .section {
  padding-bottom: 20px;
}

.container-main .section .item{
  padding-bottom: 15px;
}

.container-main .section .item .item-title, a{
  font-size: 1.1rem;
  font-weight: 500;
  color: #34495e;
}

.container-main .section .item .item-title a{
  text-decoration: none;
}

.container-main .section .item .item-title a:hover{
  color: #d6564a;
}

.container-main .section .item .item-subtitle{
  color: #9E9E9E;
  text-transform: uppercase;
}

.item-education .item-education-content{
  float: left;
}

.item-education .item-edication-tag{
  float: left;
  display: inline-block;
  margin-right: 10px;
  width: 50px;
  border-radius: 3px;
  text-align: center;
  color: #FFF;
  background-color: #d6564a;
}

.container-profile #social{
  width: 153px;
  position: absolute;  
  left: 50%;
  margin: 0px 0px 10px -76.5px;
  bottom: 0;
}

#social a{
  font-size: 25px;
  margin: 0px 2px;
  color: #FFF;
}

span.skill-highlight{
  display: inline-block;
  margin-top: 4px;
  padding: 4px 10px;
  border-radius: 3px;
  text-align: center;
  color: #FFF;
  background-color: #d6564a;
}

span.skill{
  display: inline-block;
  margin-top: 4px;
  padding: 4px 10px;
  border-radius: 3px;
  text-align: center;
  color: #424242;
  background-color: #ECEFF1;
}