html, body {
  height:100%;
  line-height: 1.5rem;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.container {
  padding: 20px;
  box-sizing:border-box;
}

.container-profile {
  min-height: 360px;
  position: relative;
  display: inline-block;
  width: 100%;
  color: #FFF;
  background: #e74c3c;
}

.container-main {
  color: #7f8c8d;
  display: inline-block;
}

@media (min-width: 768px) {

  .container-profile{
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    width: 38.1966011%;
    height: 100vh;
  }

  .container-main {
    position: fixed;
    top: 0;
    padding: 30px 50px;
    right: 0;
    float: right;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 61.8033989%;
    height: 100%;
  }
}

#profile-image{
  margin: auto;
  width: 38.1966011%;
  display: block;
  max-width: 300px;
  border-radius: 50%;
}

#name{
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

span.highlight{
  color: #e74c3c;
}

span.dash{
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  width: 30px;
  background-color: #e74c3c;
  margin-bottom: 2px;
  margin-right: 7px;
}

.container-main .section h3{
  text-transform: uppercase;  
  color: #e74c3c;
}

.container-main .section .item{
  padding-bottom: 15px;
}

.container-main .section .item .item-title{
  font-size: 1.1rem;
  font-weight: 500;
}

.container-main .section .item .item-title a{
  color: #7f8c8d;
  text-decoration: none;
}

.container-main .section .item .item-title a:hover{
  color: #e74c3c;
}

.container-main .section .item .item-subtitle{
  color: #95a5a6;
  text-transform: uppercase;
}

.item-education .item-education-content{
  margin-left: 10px;
  float: left;
}

.item-education .item-edication-tag{
  float: left;
  width: 50px;
  text-align: center;
  color: #FFF;
  background-color: #e74c3c;
  margin-bottom: 4px;
}

.container-profile #social{
  width: 200px;
  position: absolute;  
  left: 50%;
  margin: 10px 0px 10px -100px;
  bottom: 0;
}

#social a{
  margin: 0px 2px;
  color: #FFF;
}
